@import '../../utils/styles/variables.scss';


/* CSS */
.button-48 {
  border-radius: 10px;
  border: #001D3D 1px solid;
  appearance: none;
  background-color: #F9F9F9;
  box-sizing: border-box;
  color: #001D3D;
  cursor: pointer;
  display: inline-block;
  font-family: Kanit;
  font-size: 16px;
  font-weight:800;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.5em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  @media all and (max-width: 599px) {
    font-size: 14px;
  }
}

.button-48:before {
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: #001D3D;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
  color: white;
}

.button-48:hover {
  border: 1px solid #001D3D;
  & span {
    color: #F9F9F9;
  }
}

.button-48 span {
  z-index: 1;
  position: relative;
}