@import './variables.scss';

:root {
  font-family: $main-font, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: $font-weight-normal;

  color: $main-color;
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
  min-height: 100vh;
  #root {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    overflow: hidden;



    .size-container {
      max-width: 1440px;
      width: 95%;
      margin: auto;
      & > * {
        //margin-inline: 6.945%;
        @media all and (max-width: 1024px) {
          //margin-inline: 5.334%;
        }
      }
    }
  }
}

* {
  margin: 0;
  font-weight: $font-weight-light;
  color: #001D3D;

}

a {
  font-weight: $font-weight-light;
  color: $main-color;
  text-decoration: inherit;
  &:hover {
    color: #000;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: $font-weight-normal;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  &:hover {
    border-color: #646cff;
  }
}

